<script src="js/bootstrap.min.js"></script>
<link href="css/bootstrap.min.css" rel="stylesheet" media="screen"/>
<link href="css/merchant-demo.css" rel="stylesheet" media="screen"/>

<%= Apruve.js %>
<script type="text/javascript">
    apruve.setOrder(<%= @order.to_hash.to_json %>, '<%= @order.secure_hash %>');
    apruve.registerApruveCallback(apruve.APRUVE_COMPLETE_EVENT, function (orderId) {
        $('#tokenField').val(orderId);
        $('#chargeAmount').val(<%= @order.amount_cents %>);
        $('#finishOrder').submit();
    });
    $(function() {
      apruve.setShopper($('#shopperEmail').val());
      $('#shopperEmail').on('blur', function(event) {
        apruve.setShopper($('#shopperEmail').val());
      });
    });
</script>
<% if @access_token.nil? %>
<script type="text/javascript">
  $(function() {
    $('#checkout-options').submit(function() {
      var values = {};
      $.each($(this).serializeArray(), function(i, field) {
          values[field.name] = field.value;
      });
      if (values['payment-method'] == 'apruve') {
        apruve.startCheckout();
      }
      else {
        alert('Credit card payments are not supported in this demo. Please pay with Apruve.')
      }
      return false;
    });
  });
</script>
<% end %>
<section style= "padding-bottom:100px; background-color:#f8f9fa;">
    <div class="cart-section">
      <div class="cart-card">
          <h2 class="mb-0 px-3 pb-1">
            Your Cart
          </h2>
          <table class="table-checkout">
             <thead>
                <tr style= "box-shadow:none;">
                  <th>Product</th>
                  <th></th>
                  <th>Price</th>
                  <th>Qty</th>
                  <th>Sub Total</th>
                </tr>
              </thead>
                <tr class = "row-of-item">
                  <td>
                    <div class="pic-sample">
                    <img class="pic-item" src="/img/letterpaper.jpg" class="productPhoto" alt="Sample"/>
                    </div>
                  </td>
                  <td>
                  <h5>Letter Paper</h5>
                  <br>
                  <div style= "font-size:14px;">
                    20 lb ream (500 Sheets). 
                  <br>Paper dimensions 8.5 x 11.00 inches
                  </div>
                  </td>
                  <td>$12.00</td>
                  <td>3</td>
                  <td><strong>$36.00</strong></td>
                </tr>
                <tr class = "row-of-item">
                  <td>
                    <div class="pic-sample">
                    <img class="pic-item" src="/img/legalpaper.jpg" class="productPhoto"/>
                    </div>
                  </td>
                  <td>
                  <h5>Legal Paper</h5>
                  <br>
                  <div style= "font-size:14px;">
                    24 lb ream (250 Sheets). 
                  <br>Paper dimensions 8.5 x 14.00 inches
                  </div>
                  </td>
                  <td>$9.50</td>
                  <td>2</td>
                  <td><strong>$19.00</strong></td>
                </tr>
           </table>
  
    </div>
  </div> 
         
    <div class="check-out-section">
      <div class="check-out-card">
        <h5 class="mb-3 px-1 pb-1 check-out-title">Payment</h5>
        <ul class="list-group" >
          <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-2 pb-1">
            Subtotal
            <span class ="check-out-data">$55.00</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-2">
            Shipping
          <span class ="check-out-data">$5.00</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center border-1 px-2 mb-3" style ="border-right:0px; border-left:0px;">
            <div>
              <strong>Total</strong>
            </div>
            <span class ="check-out-data"><strong>$60.00</strong></span>
          </li>
           <h5 class="mb-3 px-2 pb-2 check-out-data">Choose Payment Method</h5>
            <div class="span3 px-3 pb-3">
              <form id="checkout-options" action="/demo_order" method="POST">
                <div class="radio" style="margin-bottom: 10px;">
                  <label>
                    <input type="radio" name="payment-method" id="payment-method-1" value="apruve" checked>
                    <img src="/img/apruve.png" width="75" height="20">
                    <div>
                      <small>Business Credit</small>
                    </div>
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="payment-method" id="payment-method-2" value="credit-card">
                    <img src="/img/credit-card-logos-sm.png" width="132" height="25">
                    <div>
                      <small>Credit Card</small>
                    </div>
                  </label>
                </div>
                <br>
                <button type="submit" style = "width:100%;" class="btn btn-primary btn-block">Checkout</button>
              </form>
              <div style="display: none;">
                <%= Apruve.button %>
              </div>
            </div>
        </ul>

        </div>
    </div>
</section>

<div id="thankYou" style="display:none">
  <div class="row">
    <div class="span6 offset3">
      <div class="well-large" style="text-align: center">
        <h1>Your order is ready to place. Click to complete.</h1>

        <form id="finishOrder" action="/finish_order" method="POST">
          <input id="tokenField" type="hidden" name="token" value="">
          <input id="chargeAmount" type="hidden" name="charge" value="">
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
  </div>
</div>

