<%= Apruve.js %>
<script type="text/javascript">
    apruve.setOrder(<%= @order.to_json %>, '<%= @order.secure_hash %>');
    apruve.registerApruveCallback(apruve.APRUVE_COMPLETE_EVENT, function (orderId) {
        $('#tokenField').val(orderId);
        $('#chargeAmount').val(<%= @order.amount_cents %>);
        $('#finishOrder').submit();
    });
    $(function() {
      apruve.setShopper($('#shopperEmail').val());
      $('#shopperEmail').on('blur', function(event) {
        apruve.setShopper($('#shopperEmail').val());
      });
    });
</script>
<script type="text/javascript">
  $(function() {
    $('#checkout-options').submit(function() {
      var values = {};
      $.each($(this).serializeArray(), function(i, field) {
          values[field.name] = field.value;
      });
      if (values['payment-method'] == 'apruve') {
        apruve.startCheckout();
      }
      else {
        alert('Credit card payments are not supported in this demo. Please pay with Apruve.')
      }
      return false;
    });
  });
</script>

<div id="thankYou" style="display:none">
  <div class="row">
    <div class="span6 offset3">
      <div class="well-large" style="text-align: center">
        <h1>Your order is ready to place. Click to complete.</h1>

        <form id="finishOrder" action="/finish_order" method="POST">
          <input id="tokenField" type="hidden" name="token" value="">
          <input id="chargeAmount" type="hidden" name="charge" value="">
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="span6">
    <h1>
      Your Cart
    </h1>
  </div>
  <div class="span6 pull-right">
    <a class="credit-app-button pull-right" href="<%= ENV['APRUVE_CREDIT_APP_URL'] %>" target="_blank">Apply for a Corporate Purchasing Account</a>
  </div>
  <div class="span6 pull-right">
    <a class="credit-app-button pull-right" href="/offline_order">Make an offline order</a>
  </div>
</div>
<div id="shoppingCart">
  <div class="row-fluid">
    <div class="span12">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th></th>
          <th>Product</th>
          <th>Description</th>
          <th>Unit Price</th>
          <th>Qty</th>
          <th>Line Total</th>
        </tr>
        </thead>
        <tr>
          <td>
            <img src="/img/letterpaper.jpg" class="productPhoto" width="80" height="80"/>
          </td>
          <td>Letter Paper</td>
          <td>20 lb ream (500 Sheets). Paper dimensions are 8.5 x 11.00 inches.</td>
          <td>$12.00</td>
          <td>3</td>
          <td>$36.00</td>
        </tr>
        <tr>
          <td>
            <img src="/img/legalpaper.jpg" class="productPhoto" width="80" height="80"/>
          </td>
          <td>Legal Paper</td>
          <td>24 lb ream (250 Sheets). Paper dimensions are 8.5 x 14.00 inches.</td>
          <td>$9.50</td>
          <td>2</td>
          <td>$19.00</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span9"></div>
    <div class="span3">
      <div class="text-right totals">
        <p>
          <strong class="pull-left">
            Subtotal:
          </strong>
          $55.00
        </p>

        <p>
          <strong class="pull-left">
            Shipping:
          </strong>
          $5.00
        </p>

        <p>
          <strong class="pull-left">
            Total:
          </strong>
          $60.00
        </p>
      </div>
      <hr>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span9 text-right">
      <h4 style="margin-right: 20px; margin-top: 0;">
        Choose Your Payment Method
      </h4>
    </div>
    <div class="span3">
      <form id="checkout-options">
        <div class="radio" style="margin-bottom: 10px;">
          <label>
            <input type="radio" name="payment-method" id="payment-method-1" value="apruve" checked>
            <img src="/img/apruve.png" width="75" height="20">
            <div>
              <small>Business Credit</small>
            </div>
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="payment-method" id="payment-method-2" value="credit-card">
            <img src="/img/credit-card-logos-sm.png" width="132" height="25">
            <div>
              <small>Credit Card</small>
            </div>
          </label>
        </div>
        <br>
        <button class="btn btn-large btn-primary" type="submit">
          Checkout
        </button>
      </form>
      <div style="display: none;">
        <%= Apruve.button %>
      </div>
    </div>
  </div>
</div>
