<script src="js/bootstrap.min.js"></script>
<link href="css/bootstrap.min.css" rel="stylesheet" media="screen"/>
<link href="css/merchant-demo.css" rel="stylesheet" media="screen"/>

<%= Apruve.js %>
<script type="text/javascript">
    apruve.setOrder(<%= @order.to_hash.to_json %>, '<%= @order.secure_hash %>');
    apruve.registerApruveCallback(apruve.APRUVE_COMPLETE_EVENT, function (orderId) {
        $('#tokenField').val(orderId);
        $('#chargeAmount').val(<%= @order.amount_cents %>);
        $('#finishOrder').submit();
    });
    $(function() {
      apruve.setShopper($('#shopperEmail').val());
      $('#shopperEmail').on('blur', function(event) {
        apruve.setShopper($('#shopperEmail').val());
      });
    });
</script>
<% if @access_token.nil? %>
<script type="text/javascript">
  $(function() {
    $('#checkout-options').submit(function() {
      var values = {};
      $.each($(this).serializeArray(), function(i, field) {
          values[field.name] = field.value;
      });
      if (values['payment-method'] == 'apruve') {
        apruve.startCheckout();
      }
      else {
        alert('Credit card payments are not supported in this demo. Please pay with Apruve.')
      }
      return false;
    });
  });
</script>
<% end %>



<section>
    <div class="green">Width: 50%</div>
    <div class="check-out-section">
      <div class="check-out-card">
        <h5 class="mb-3 px-1 pb-1 check-out-title">Payment</h5>
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-2 pb-1">
            Subtotal
            <span class ="check-out-data">$55.00</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-2">
            Shipping
          <span class ="check-out-data">$5.00</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center border-1 px-2 mb-3">
            <div>
              <strong>Total</strong>
            </div>
            <span class ="check-out-data"><strong>$60.00</strong></span>
          </li>
           <h5 class="mb-3 px-1 pb-1 check-out-data">Choose Payment Method</h5>
            <div class="span3 px-2 pb-2">
              <form id="checkout-options" action="/demo_order" method="POST">
                <div class="radio" style="margin-bottom: 10px;">
                  <label>
                    <input type="radio" name="payment-method" id="payment-method-1" value="apruve" checked>
                    <img src="/img/apruve.png" width="75" height="20">
                    <div>
                      <small>Business Credit</small>
                    </div>
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="payment-method" id="payment-method-2" value="credit-card">
                    <img src="/img/credit-card-logos-sm.png" width="132" height="25">
                    <div>
                      <small>Credit Card</small>
                    </div>
                  </label>
                </div>
                <br>
                <button type="submit" style = "width:100%;" class="btn btn-primary btn-block">Checkout</button>
              </form>
              <div style="display: none;">
                <%= Apruve.button %>
              </div>
            </div>
        </ul>

        </div>
    </div>
</section>

<div id="thankYou" style="display:none">
  <div class="row">
    <div class="span6 offset3">
      <div class="well-large" style="text-align: center">
        <h1>Your order is ready to place. Click to complete.</h1>

        <form id="finishOrder" action="/finish_order" method="POST">
          <input id="tokenField" type="hidden" name="token" value="">
          <input id="chargeAmount" type="hidden" name="charge" value="">
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span6">
    <h1>
      Your Cart
    </h1>
  </div>
</div>
<div id="shoppingCart">
  <div class="row-fluid">
    <div class="span12">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th></th>
          <th>Product</th>
          <th>Description</th>
          <th>Unit Price</th>
          <th>Qty</th>
          <th>Line Total</th>
        </tr>
        </thead>
        <tr>
          <td>
            <img src="/img/letterpaper.jpg" class="productPhoto" width="80" height="80"/>
          </td>
          <td>Letter Paper</td>
          <td>20 lb ream (500 Sheets). Paper dimensions are 8.5 x 11.00 inches.</td>
          <td>$12.00</td>
          <td>3</td>
          <td>$36.00</td>
        </tr>
        <tr>
          <td>
            <img src="/img/legalpaper.jpg" class="productPhoto" width="80" height="80"/>
          </td>
          <td>Legal Paper</td>
          <td>24 lb ream (250 Sheets). Paper dimensions are 8.5 x 14.00 inches.</td>
          <td>$9.50</td>
          <td>2</td>
          <td>$19.00</td>
        </tr>
      </table>
    </div>
  </div>
</div>
