<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <title>Munder Difflin Paper Company</title>
  <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="//code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
  <script src="js/rails.js"></script>
  <script src="js/close_flash.js"></script>
  <link href="css/merchant-demo.css" rel="stylesheet" />
  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen"/>
  <link rel="icon" type="image/png" href="/img/favicon.png" />

  
</head>
<body>
<div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class= "nav-link" href="/" > Cart
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/settings">Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/offline_order">Offline Order</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= ENV['APRUVE_CREDIT_APP_URL'] %>" target="_blank">Get a Corporate Account</a>
        </li>
      </ul>
      <div class="pull-right">
        <% if @user %>
          Signed in as <strong><%= @user %></strong>
          <% if @access_token && @credit_available %>
            (Linked with Apruve <strong><%= @credit_available.format %></strong>)
          <% end %>
        <% else %>
          <button class="btn btn-secondary my-2 my-sm-0" onclick="window.location.href='/signin'">Sign In</button>
        <% end %>
        <% if @user && @authorization_url %>
          <a class="apruve-link" href=<%= @authorization_url %>>Link Account with Apruve</a>
        <% end %>
      </div>
    </div>
  </div>
</nav>
  <div id = "header" class="row-fluid header" style = "background:<%= $header_color%>">
    <div class="pull-left">
      <a href="/">
        <img id = "logo" src= "<%= @@headpic %>"/>
      </a>
    </div>
  </div>
  <div>
    <% flash.keys.each do |alert| %>
    <div id = "flash" style="background-color:<%= @@flash_color%>;">
      <div class ="flash_word">
        <%= flash[alert]%>
      </div>
      <button type="button" id ="flash-close-button" onclick="close_flash()" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% end %>
  </div>
  <div class="wrapper">
  <%= yield %>
  </div>
</div>
</body>
</html>

