<% require './helpers/language' %>
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
 <link href="css/bootstrap.min.css" rel="stylesheet" media="screen"/>
 <link href="css/merchant-demo.css" rel="stylesheet" media="screen"/>
 <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
 <script src="//code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
 <title>Setting changes</title>
</head>
<body>
    <div class="row-fluid settings-form" style="padding-top:20px;">
      <h3>Settings</h3>

      <form class = "settings_form form-control" action="/change_settings" enctype="multipart/form-data" method="POST">
        <div class="input-block">
          <h6><%=lan_dict(@@language,:"Change Banner")%></h6>
          <p class= "settings_row">
              <select id ="select_header" class= "select_dropdown settings_cell" name="color_select" onchange="change()" >
                  <option value = "<%=$header_color%>" selected disabled> -- select color -- </option>
                  <option value = "var(--prussian-blue)" >Prussian Blue</option>
                  <option value = "var(--sea-green)">Sea Green</option>
                  <option value = "var(--cool-slate)">Cool Slate</option>
                  <option value = "var(--lime-green)">Lime Green</option>
                  <option value = "var(--tuscany)">Tuscany</option>
                  <option value = "var(--punch)">Punch</option>
                  <option value = "var(--sea-green-lime-gradient)">Sea-Lime Gradient</option>
                  <option value = "var(--prussian-sea-green-gradient)">Prussian-Sea Gradient</option>
                  <option value = "var(--punch-tuscany-gradient)">Punch-Tuscany Gradient</option>
              </select>
          </p>
        </div>

        <div class="input-block">
          <h6><%=lan_dict(@@language,:"Upload Logo")%></h6>
          <input type="file" name="image" />
        </div>


        <div class="input-block">
          <h6><%=lan_dict(@@language,:"Language Preference")%></h6>
          <p class= "settings_row">
              <select id ="select_header" class= "select_dropdown settings_cell" name="lang_select" onchange="change()" >
                  <option value = "" selected disabled> -- select language -- </option>
                   <option value = "English" >English</option>
                   <option value = "Chinese(Simplified)" ><%=lan_dict(@@language,:"Chinese(Simplified)")%></option>
                   <option value = "Chinese(Traditional)" ><%=lan_dict(@@language,:"Chinese(Traditional)")%></option>
              </select>
          </p>
          <input type="submit" style="width: 85px;" class="btn btn-primary settings_cell" id="submit" value="<%=lan_dict(@@language,:"Save")%>"/>
        </div>
      </form>
    </div>
<script src="bundle.js"></script>
<script src="update_header.js"></script>
</body>
</html>